<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
    <title>Acerca de</title>
</head>
<body class="text-center" style="background: lightblue">
    <div class="">
        <div class="container">
            <nav class="navbar navbar-expand-lg navbar-light">
              <a class="navbar-brand" href="#">SExperto</a>
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>

              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                  <li class="nav-item active">
                    <a class="nav-link" href="/">Inicio <span class="sr-only"></span></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/admin">Admin</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/about">Acerca de</a>
                  </li>
                </ul>
              </div>
            </nav>
          <h1 class="cover-heading">Diagnóstico médico usando CLIPS</h1>
        <p class="lead">El objetivo central es la facilidad de diagnosticar el tipo de enfermedad que tiene un paciente, mediante sus síntomas.</p>
        <p>La relevancia que tiene los diagnósticos médicos se relaciona a que se debe tener primero un conocimiento de la
            enfermedad para que esta pueda ser tratada de la forma más adecuada. Será de gran importancia los datos del
            paciente para poder lograr un buen diagnóstico.
        </p>
            <img src="https://i.ibb.co/NSwZykf/pngwing-com.png">

        </div>
    </div>

</html>